<template>
  <v-row>
    <v-col class="text-center">
      <img src="/v.png" alt="Vuetify.js" class="mb-5" />
      <p>sorry to say your account is locked</p>
      <Nuxt />
      <Snackbar :snackbar-message.sync="snackbarMessage"></Snackbar>
    </v-col>
  </v-row>
</template>
<script>
export default {
  data() {
    return {
      snackbarMessage: "",
    };
  },
  mounted() {},
  methods: {
    async userLockedOut() {
      if (this.$auth.user.user.isLocked) {
        console.log("user account locked, loggin you out");
        this.snackbarMessage = "Your account has been locked";
      }
    },
  },
};
</script>