<template>
  <div class="mt-12">
    <v-container>
      <v-row justify="center" class="mt-12">
        <h3>Set your new password</h3>
      </v-row>
      <v-row justify="center" class="mt-12">
        <Changepassword
          button-title="Change password"
          :form.sync="form"
        ></Changepassword>
      </v-row>
    </v-container>
    <Snackbar :snackbar-message="snackbarMessage"></Snackbar>
  </div>
</template>

<script>
import Changepassword from "@/components/forms/changepassword";
import Snackbar from "@/components/snackbar";

export default {
  middleware: ["authuser"],
  name: "index",
  components: {
    Snackbar,
    Changepassword,
  },
  data: () => ({
    form: { finish: false },
    token: "",
    snackbarMessage: "",
    head() {
      return {
        title: "Change your password",
        meta: [
          // hid is used as unique identifier. Do not use `vmid` for it as it will not work
          {
            name: "Change your password",
            content: "Change your password",
          },
        ],
      };
    },
  }),
  computed: {
    finish() {
      return this.form.finish;
    },
  },
  watch: {
    finish(newVal) {
      if (newVal) {
        this.changePassword();
        this.form.finish = false;
      }
    },
  },
  mounted() {
    this.token = this.$route.query.token;
  },
  methods: {
    async changePassword() {
      const token = this.token;
      try {
        const verification = await this.$axios.post(
          "/api/user/changepassword",
          {
            data: this.form,
          }
        );
        this.snackbarMessage = verification.data.message;
      } catch (err) {
        this.snackbarMessage = err.response.data.message;
      }
    },
  },
};
</script>