<template>
  <v-container class="text-center">
    <v-row justify="center" class="mt-12">
      <v-col cols="12" lg="3" class="mt-12 text-center"
        ><h3>Please login</h3></v-col
      >
    </v-row>
    <v-row :align="'center'" :justify="'center'" class="mt-12">
      <v-col cols="12" md="6" lg="3">
        <Login button-title="Log In" :form.sync="form"></Login>
      </v-col>
    </v-row>
    <Snackbar :snackbar-message.sync="snackbarMessage"></Snackbar>
  </v-container>
</template>
<script>
import Login from "@/components/forms/login.vue";
import Snackbar from "@/components/snackbar";

export default {
  components: { Login, Snackbar },
  data: () => ({
    form: {
      valid: false,
      email: "",
      password: "",
      finish: false,
    },
    snackbarMessage: "",
  }),
  computed: {
    finish() {
      return this.form.finish;
    },
  },
  watch: {
    finish(newVal) {
      if (newVal) {
        this.login();
        this.form.finish = false;
      }
    },
  },
  methods: {
    async login() {
      try {
        const response = await this.$auth.loginWith("local", {
          data: {
            email: this.form.email,
            password: this.form.password,
          },
        });
        this.snackbarMessage = response.data.message;
      } catch (error) {
        this.snackbar = true;
        this.snackbarMessage = error.response.data.message;
      }
    },
  },
};
</script>