<template>
  <div class="mt-12">
    <v-container>
      <v-row justify="center" class="mt-12">
        <h3>Set your password</h3>
      </v-row>
      <v-row justify="center" class="mt-12">
        <Newpassword
          button-title="Change password"
          :form.sync="form"
        ></Newpassword>
      </v-row>
    </v-container>
    <Snackbar :snackbar-message="snackbarMessage"></Snackbar>
  </div>
</template>

<script>
import Newpassword from "@/components/forms/newpassword";
import Snackbar from "@/components/snackbar";

export default {
  name: "index",
  components: {
    Snackbar,
    Newpassword,
  },
  data: () => ({
    form: { finish: false },
    token: "",
    snackbarMessage: "",
  }),
  computed: {
    finish() {
      return this.form.finish;
    },
  },
  watch: {
    finish(newVal) {
      if (newVal) {
        this.changePassword();
        this.form.finish = false;
      }
    },
  },
  mounted() {
    this.token = this.$route.query.token;
  },
  methods: {
    async changePassword() {
      const token = this.token;
      try {
        const verification = await this.$axios.post(
          "/api/auth/password/change",
          {
            token,
            password: this.form.password,
          }
        );
        this.snackbarMessage = verification.data.message;
      } catch (err) {
        this.snackbarMessage = err.response.data.message;
      }
    },
  },
};
</script>