// pages/login/reset/index.vue

<template>
  <div class="mt-12">
    <v-container>
      <v-row justify="center" class="mt-12">
        <v-col cols="12" lg="3" class="mt-12 text-center"
          ><h3>Reset Password</h3></v-col
        >
      </v-row>
      <v-row justify="center" class="mt-12">
        <v-col cols="12" lg="3" class="mt-12 text-center">
          <email-form
            button-title="Reset password"
            :form.sync="form"
          ></email-form>
        </v-col>
      </v-row>
    </v-container>
    <Snackbar :snackbar-message="snackbarMessage"></Snackbar>
  </div>
</template>
test7@asuspn51.home
<script>
import EmailForm from "@/components/forms/email";
import Snackbar from "@/components/snackbar";

export default {
  name: "index",
  components: {
    Snackbar,
    EmailForm,
  },
  data: () => ({
    form: { finish: false },
    snackbarMessage: "",
  }),
  computed: {
    finish() {
      return this.form.finish;
    },
  },
  watch: {
    finish(newVal) {
      if (newVal) {
        this.sendPasswordToken();
        this.form.finish = false;
      }
    },
  },
  methods: {
    async sendPasswordToken() {
      try {
        const email = this.form.email;
        const response = await this.$axios.post("/api/auth/password/reset", {
          email,
        });
        this.snackbarMessage = response.data.message;
      } catch (err) {
        this.snackbarMessage = err.response.data.message;
      }
    },
  },
};
</script>