<!-- 
comnfirmation link for new registration
-->

<template>
  <div class="mt-12">
    <v-container>
      <v-row justify="center" class="mt-12 text-center">
        <v-col cols="12" v-if="confirmationStatus === 'verified'">
          <v-btn to="/login" class="ma-3" color="primary"
            >Go to login page</v-btn
          >
        </v-col>
        <v-col cols="12" v-else-if="confirmationStatus === 'unverified'">
          <v-btn to="/auth/resendtoken" class="ma-3" color="primary"
            >Resend a verification token</v-btn
          >
        </v-col>
      </v-row>
    </v-container>
    <Snackbar :snackbar-message="snackbarMessage"></Snackbar>
  </div>
</template>

<script>
import Snackbar from "@/components/snackbar";

export default {
  name: "index",
  components: { Snackbar },
  data: () => ({
    resend: false,
    confirmationStatus: false,
    snackbarMessage: "",
  }),
  methods: {
    async checkToken() {
      const token = this.$route.query.token;
      const verification = await this.$axios.post("/api/auth/confirmation/", {
        token,
      });
      this.confirmationStatus = verification.data.confirmationStatus;
      this.snackbarMessage = verification.data.message;
    },
  },
  mounted() {
    this.checkToken();
  },
};
</script>