<template>
  <v-container class="text-center">
    <v-row justify="center" class="mt-12">
      <v-col cols="12" lg="3" class="mt-12 text-center"
        ><h3>Register as a new user</h3></v-col
      >
    </v-row>
    <v-row :align="'center'" :justify="'center'" class="mt-12">
      <v-col cols="12" md="6" lg="3">
        <!-- login doubles as registration and login form -->
        <Register button-title="Register" :form.sync="form"></Register>
      </v-col>
    </v-row>
    <Snackbar :snackbar-message.sync="snackbarMessage"></Snackbar>
  </v-container>
</template>
<script>
import Register from "@/components/forms/register";
import Snackbar from "@/components/snackbar";

export default {
  components: { Register, Snackbar },
  data: () => ({
    form: {
      valid: false,
      email: "",
      password: "",
      finish: false,
    },
    snackbarMessage: "",
  }),
  computed: {
    finish() {
      return this.form.finish;
    },
  },
  watch: {
    finish(newVal) {
      if (newVal) {
        this.register();
        this.form.finish = false;
      }
    },
  },
  methods: {
    async register() {
      try {
        // the basics only so if you need more use your own registration form
        // handle it in the registration  part
        const registration = await this.$axios.post("/api/auth/register", {
          registration: this.form,
        });
        this.snackbarMessage = registration.data.message;
      } catch (error) {
        this.snackbarMessage = error.response.data.message;
      }
    },
  },
};
</script>