  <template>
  <v-container>
    <v-row>
      <v-col class="text-center">
        {{ profile }}
      </v-col>
    </v-row>
    <v-col>
      <v-btn color="primary" nuxt to="/login/changepassword"
        >Password Change</v-btn
      >
    </v-col>
  </v-container>
</template>

<script>
export default {
  data() {
    return {
      pageInfo: {
        pageTitle: "My profile",
      },
      search: "",

      profile: {},
      loading: true,
      options: {},
    };
  },

  mounted() {
    this.getDataFromApi();
  },
  methods: {
    getDataFromApi() {
      this.loading = true;
      this.$axios.$get("/api/user/profile").then((data) => {
        this.profile = data;
        this.loading = false;
      });
    },
  },
};
</script>

