<!--
user table 
Note the '<template v-slot:[`item.actions`]="{ item }">'
See https://stackoverflow.com/questions/61344980/v-slot-directive-doesnt-support-any-modifier

still needs work on the custom filters
reset pw true-> should show only users who still have there pw reset
acount verified when clicked only show users ho have not verified their account
these could be deleted after they have not verified for a period of time

https://stackoverflow.com/questions/65324852/how-to-create-multiple-dropdown-select-filter-for-vuetify-data-table

Locked: switch between not locked, all, locked
do we need to combine it with all others?

 -->  
  <template>
  <v-container>
    <Nuxt />
    <Snackbar :snackbar-message.sync="snackbarMessage"></Snackbar>

    <v-row cols="12" sm="6" md="4">
      <v-col>
        <v-text-field
          v-model="search"
          append-icon="mdi-magnify"
          label="Search"
          single-line
          hide-details
        ></v-text-field>
      </v-col>
      <v-col>
        <v-checkbox
          v-model="resetPasswordStatus"
          label="Reset password"
        ></v-checkbox>
      </v-col>
      <v-col>
        <v-checkbox
          v-model="accountVerifiedStatus"
          label="Account Verified"
        ></v-checkbox>
      </v-col>
      <v-col>
        <v-checkbox
          v-model="isLockedStatus"
          label="Account Locked"
        ></v-checkbox>
      </v-col>
    </v-row>
    <v-data-table
      :headers="headers"
      :items="filteredItems"
      :loading="loading"
      :sort-desc="[true]"
      :search="search"
      class="elevation-0"
      dense
    >
      <template v-slot:top>
        <v-dialog v-model="dialog" max-width="500px">
          <v-card>
            <v-card-title>
              <span class="text-h5">{{ formTitle }}</span>
            </v-card-title>

            <v-card-text>
              <v-container>
                <v-row>
                  <v-col>
                    <v-text-field
                      v-model="editedItem.email"
                      label="User"
                    ></v-text-field>
                  </v-col>
                </v-row>
                <v-row>
                  <v-col cols="12" sm="6" md="4">
                    <v-text-field
                      v-model="editedItem.scope"
                      label="Scope/role"
                    ></v-text-field>
                  </v-col>

                  <v-col cols="12" sm="6" md="4">
                    <!-- ensure no value higher that 5
                      or just a reset button to set it to 0 -->
                    <v-text-field
                      v-model="editedItem.failedLogins"
                      label="Failed Logins"
                    ></v-text-field>
                  </v-col>
                </v-row>
                <v-row>
                  <v-col>
                    <v-switch
                      :label="
                        editedItem.isLocked
                          ? 'Account Locked'
                          : 'Account Not Locked'
                      "
                      v-model="editedItem.isLocked"
                      color="error"
                    ></v-switch>
                  </v-col>
                </v-row>
                <v-divider></v-divider>
                <v-row>
                  <v-col>
                    Created:
                    {{ editedItem.createdAt.substring(0, 10) }} -
                    {{ editedItem.updatedAt.substring(11, 16) }}
                  </v-col>
                  <v-col>
                    Updated: {{ editedItem.createdAt.substring(0, 10) }} -
                    {{ editedItem.updatedAt.substring(11, 16) }}
                  </v-col>
                </v-row>
                <v-divider></v-divider>
              </v-container>
            </v-card-text>

            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="blue darken-1" text @click="close"> Cancel </v-btn>
              <v-btn color="blue darken-1" text @click="save"> Save </v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
        <v-dialog v-model="dialogDelete" max-width="500px">
          <v-card>
            <v-card-title class="text-h5"
              >Are you sure you want to delete this item?</v-card-title
            >
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="blue darken-1" text @click="closeDelete"
                >Cancel</v-btn
              >
              <v-btn color="blue darken-1" text @click="deleteItemConfirm"
                >OK</v-btn
              >
              <v-spacer></v-spacer>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </template>
      <template v-slot:[`item.resetPassword`]="{ item }">
        <v-icon :color="item.resetPassword ? 'succes' : 'error'">
          mdi-circle</v-icon
        >
      </template>

      <template v-slot:[`item.isVerified`]="{ item }">
        <v-icon :color="item.isVerified ? 'success' : 'error'">
          mdi-circle</v-icon
        >
      </template>
      <template v-slot:[`item.isLocked`]="{ item }">
        <v-icon :color="item.isLocked ? 'error' : 'success'">
          mdi-circle</v-icon
        >
      </template>
      <template v-slot:[`item.createdAt`]="{ item }">
        {{ item.createdAt.substring(0, 10) }} -
        {{ item.createdAt.substring(11, 16) }}
      </template>
      <template v-slot:[`item.updatedAt`]="{ item }">
        {{ item.updatedAt.substring(0, 10) }} -
        {{ item.updatedAt.substring(11, 16) }}
      </template>

      <template v-slot:[`item.actions`]="{ item }">
        <v-icon small class="mr-2" @click="editItem(item)"> mdi-pencil </v-icon>
        <!--    <v-icon small @click="deleteItem(item)"> mdi-delete </v-icon> -->
      </template></v-data-table
    ></v-container
  >
</template>

<script>
export default {
  data() {
    return {
      pageInfo: {
        pageTitle: "users",
      },
      lockout: "enable",
      search: "",
      users: [],
      snackbarMessage: "",
      loading: true,
      options: {},
      headers: [
        {
          text: "Users",
          align: "start",
          sortable: "true",
          value: "email",
        },
        { text: "Failed Logins", value: "failedLogins", sortable: true },
        { text: "Scope", value: "scope", sortable: true },
        { text: "Reset Password", value: "resetPassword", sortable: true },
        { text: "Account Verified", value: "isVerified", sortable: true },
        { text: "Locked", value: "isLocked", sortable: true },
        {
          text: "Registered",
          value: "createdAt",
        },
        {
          text: "Updated",
          value: "updatedAt",
        },
        { text: "Edit", value: "actions", sortable: false },
      ],
      editedIndex: -1,
      editedItem: {
        email: "",
        isLocked: false,
        scope: "",
        failedLogins: 0,
        createdAt: "",
        updatedAt: "",
      },
      defaultItem: {
        email: "",
        isLocked: false,
        scope: "",
        failedLogins: 0,
        createdAt: "",
        updatedAt: "",
      },
      dialog: false,
      dialogDelete: false,
      resetPasswordStatus: "",
      accountVerifiedStatus: "",
      isLockedStatus: "",
    };
  },
  computed: {
    // not creeating new users yet
    formTitle() {
      return this.editedIndex === -1 ? "New user" : "Edit user";
    },
    /**
     * needs a litle bit more attention
     * 3 boolean fields
     * show all or true or false
     *
     * reset button
     */
    filteredItems() {
      if (!this.accountVerifiedStatus) {
        this.accountVerifiedStatus = "";
      }
      return this.users.filter((i) => {
        return (
          this.accountVerifiedStatus === "" ||
          i.isVerified === this.accountVerifiedStatus
        );
      });
    },
  },
  watch: {
    dialog(val) {
      val || this.close();
    },
    dialogDelete(val) {
      val || this.closeDelete();
    },
  },
  created() {},

  mounted() {
    this.getDataFromApi();
  },
  methods: {
    getDataFromApi() {
      this.loading = true;
      this.$axios
        .$get("/api/admin")
        .then((data) => {
          this.users = data;
          this.loading = false;
        })
        .catch((error) => {
          this.loading = false;
          this.snackbarMessage = `Data could not be loaded: ${error.response.data.message} Status: ${error.response.status} `;
        });
    },
    // methods for saving/deleting
    editItem(item) {
      console.log(item);
      this.editedIndex = this.users.indexOf(item);
      this.editedItem = Object.assign({}, item);
      console.log(this.editedItem);
      this.dialog = true;
    },
    //might become useful later
    deleteItem(item) {
      this.editedIndex = this.users.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialogDelete = true;
    },
    deleteItemConfirm() {
      this.users.splice(this.editedIndex, 1);
      this.closeDelete();
    },
    close() {
      this.dialog = false;
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
    },
    closeDelete() {
      this.dialogDelete = false;
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
    },
    //saving in the admin route
    //only problem left:
    //check if we can verify in the form if we can
    //TODO: [UA-12] prevent admin user to lock themselves out
    async save() {
      if (this.editedIndex > -1) {
        if (
          this.users[this.editedIndex].isLocked != this.editedItem.isLocked &&
          this.editedItem.isLocked
        ) {
          console.log("Setting isLocked to true");
        }
        //TODO: [UA-10] Here we can see if lockedout changes to true
        //seems to be a good point to add the user in teh store
        Object.assign(this.users[this.editedIndex], this.editedItem);
        //save it to the table
        console.log(this.editedItem._id);
        console.log(this.editedItem.isLocked);
        //neat axios post of the data
        //in api make an update only of relevant fields
        try {
          const verification = await this.$axios.post(
            "/api/admin/user/update",
            {
              data: this.editedItem,
            }
          );
          this.snackbarMessage = verification.data.message;
        } catch (err) {
          this.snackbarMessage = err.response.data.message;
        }
      } else {
        this.users.push(this.editedItem);
        //axios call to save a bew user, not used yet
      }
      this.close();
    },
  },
};
</script>

