<template>
  <v-app dark>
    <v-navigation-drawer
      v-model="drawer"
      :mini-variant="miniVariant"
      :clipped="clipped"
      fixed
      app
    >
      <!-- menu items on the left -->
      <!-- TODO: [UA-26] method to filter the menu based on the scope/logged in of user
    
    -->
      <v-list>
        <v-list-item
          v-for="(item, i) in items"
          :key="i"
          :to="item.to"
          router
          exact
        >
          <v-list-item-action>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title v-text="item.title" />
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
    <v-app-bar :clipped-left="clipped" fixed app>
      <v-app-bar-nav-icon @click.stop="drawer = !drawer" />
      <v-btn icon @click.stop="miniVariant = !miniVariant">
        <v-icon>mdi-{{ `chevron-${miniVariant ? "right" : "left"}` }}</v-icon>
      </v-btn>
      <v-btn icon @click.stop="clipped = !clipped">
        <v-icon>mdi-application</v-icon>
      </v-btn>
      <v-btn icon @click.stop="fixed = !fixed">
        <v-icon>mdi-minus</v-icon>
      </v-btn>
      <v-toolbar-title v-text="title" />

      <v-spacer />
      <!-- only visible for logged in users --->
      <template v-if="this.$auth.loggedIn">
        Hello {{ this.$auth.user.user.email }}
        <v-btn to="/profile"><v-icon>mdi-account</v-icon>Profile </v-btn>
        <v-btn @click="logout"><v-icon>mdi-logout</v-icon>logout</v-btn>
      </template>
      <!-- only visible for NOT logged in users --->
      <template v-if="!this.$auth.loggedIn">
        <v-btn to="/register"
          ><v-icon>mdi-account</v-icon>Create Account
        </v-btn>
        <v-btn to="/login"> <v-icon>mdi-login</v-icon>Login </v-btn>

        <v-btn to="/login/resetpassword">
          <v-icon>mdi-lock-reset</v-icon>Reset password
        </v-btn>
      </template>
      <v-btn icon @click.stop="rightDrawer = !rightDrawer">
        <v-icon>mdi-menu</v-icon>
      </v-btn>
    </v-app-bar>
    <v-main>
      <v-container>
        <Nuxt />
        <Snackbar :snackbar-message.sync="snackbarMessage"></Snackbar>
      </v-container>
    </v-main>
    <v-navigation-drawer v-model="rightDrawer" :right="right" temporary fixed>
      <v-list>
        <v-list-item @click.native="right = !right">
          <v-list-item-action>
            <v-icon light> mdi-repeat </v-icon>
          </v-list-item-action>
          <v-list-item-title>Switch drawer (click me)</v-list-item-title>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
    <v-footer :absolute="!fixed" app>
      <span>&copy; {{ new Date().getFullYear() }}</span>
      <span v-if="this.$auth.loggedIn">
        {{ this.$auth.user.user }}
      </span>
    </v-footer>
  </v-app>
</template>

<script>
export default {
  middleware: ["authIsLocked"], // check if the user is lockedout
  data() {
    return {
      clipped: false,
      drawer: false,
      fixed: false,
      // menu
      // menuLoggedin
      // menuAdmin
      // menuSupport (specific scopes should also add admin by default)
      items: [
        {
          icon: "mdi-apps",
          title: "Welcome",
          to: "/",
        },
        {
          icon: "mdi-chart-bubble",
          title: "Inspire",
          to: "/inspire",
        },
        {
          icon: "mdi-account-group",
          title: "Users",
          to: "/users",
        },
      ],
      miniVariant: false,
      right: true,
      rightDrawer: false,
      title: "Vuetify.js",
      snackbarMessage: "",
    };
  },
  mounted() {},
  methods: {
    async logout() {
      await this.$auth.logout();
    },
  },
};
</script>
