<template>
  <v-row justify="center" align="center">
    <v-col cols="12" sm="8" md="6">
      <v-card class="logo py-4 d-flex justify-center">
        <NuxtLogo />
        <VuetifyLogo />
      </v-card>
      <v-card>
        <v-card-title class="headline">
          User Authentication basics
        </v-card-title>
        <v-card-text>
          <p>
            Basic code that allows user registration, verifcation, login,
            logout, password reset and a rudimental implementation of
            scope/role.
          </p>
          <p>The following needs to be configured:</p>
          <ol>
            <li>
              Sendgrid api key, follow the instructions
              <a
                href="https://docs.sendgrid.com/for-developers/sending-email/quickstart-nodejs"
                >here</a
              >
            </li>
            <li>
              Alternativly you can use nodemailer and handle your own email
              sending.
            </li>
            <li>
              A mongodb server. or your own preference (might need some
              rewritng).
            </li>
            <li>
              The inspire page is scope protected. (you can access it with a
              user that has scope set to admin).
            </li>
            <li>
              The forms are very basic, you will need to build your own forms,
              submits and table if you want more.
            </li>
            <li>No logging, implement your own if needed.</li>
            <li>Create your own env, you can use the sample.env</li>
          </ol>
          <h4>Usagae</h4>
          <p>
            Create an account. Verify account with received email and visit
            profile page (not much to see for now)
          </p>
          <p>
            Try to visit the inspire page, no access, vist the users page, the
            data will not load as the access to teh api calls can only be done
            by and admin user.
          </p>
          <p>
            Reset password. Verify with received email and change the password,
            no original password is needed.
          </p>
          <p>
            Default user scope is 'user'so create another account (see above)
            and update that account on db level to set the scope to 'admin'.
          </p>
          <p>Login as that admin user, you can now visit the inspire page.</p>
          <p>
            As admin go the Users: basic user table and editing individual users
          </p>
          <p>
            As a normal user login 5 times with the wrong password, The account
            will be locked. Admin can go to the user table and unlock the
            account. As this is most likely something phishy user cannot request
            unlock account.
          </p>
          <h4>Future Features</h4>
          <ul>
            <li>MFA.</li>
            <li>Google/Facebook login.</li>
            <li>SAML/oauth</li>
          </ul>

          <hr class="my-3" />
          <a
            href="https://nuxtjs.org/"
            target="_blank"
            rel="noopener noreferrer"
          >
            Nuxt Documentation
          </a>
          <br />
          <a
            href="https://github.com/nuxt/nuxt.js"
            target="_blank"
            rel="noopener noreferrer"
          >
            Nuxt GitHub
          </a>
        </v-card-text>
        <v-card-actions>
          <v-spacer />
          <v-btn color="primary" nuxt to="/inspire"> Continue </v-btn>
        </v-card-actions>
      </v-card>
    </v-col>
  </v-row>
</template>
