<template>
  <v-row>
    <v-col>
      <p>
        User profile, retrieved based on JWT token so should be pretty save.
      </p>
      <p>
        This page is protected by authuser middleware, authenticated users only.
      </p>
      <p>Forms need to be created for showing/saving data</p>
      <Nuxt />
      <Profile />
    </v-col>
  </v-row>
</template>
<script>
export default {
  // only logged in users should be able to get this page
  middleware: ["authuser"],
  //middleware: ["3"], // check if the user is lockedout
};
</script>