<!--
password change after reset
there is also a form for chnaging password when logged in
 -->

<template>
  <v-form ref="form" v-model="form.valid" lazy-validation>
    <v-text-field
      v-model="form.password"
      :counter="20"
      :rules="passwordRules"
      :type="'password'"
      label="Current Password"
      required
    ></v-text-field>
    <v-text-field
      v-model="form.newpassword"
      :counter="20"
      :rules="passwordRules"
      :type="'password'"
      label="New Password"
      required
    ></v-text-field>
    <v-text-field
      label="Confirm New Password"
      v-model="form.confirmPassword"
      :counter="20"
      :rules="passwordRules.concat(passwordConfirmationRules)"
      type="password"
      required
    ></v-text-field>
    <v-btn
      :disabled="!form.valid"
      color="indigo lighten-1"
      class="mr-4"
      @click="validate"
    >
      {{ buttonTitle }}
    </v-btn>
  </v-form>
</template>

<script>
export default {
  name: "changepassword",
  data: () => ({
    /**
     * password rules
     * might want to disable a few of these rules during testing creating users.
     */
    passwordRules: [
      (value) => !!value || "Password is required",
      //  (value) => (value && /\d/.test(value)) || "At least one digit",
      //  (value) =>
      //    (value && /[A-Z]{1}/.test(value)) || "At least one capital latter",
      //  (value) =>
      //    (value && /[^A-Za-z0-9]/.test(value)) ||
      //    "At least one special character",
      //  (value) => (value && value.length >= 8) || "minimum 8 characters",
    ],
  }),
  props: {
    form: {
      required: true,
    },
    buttonTitle: {
      required: true,
    },
  },
  mounted() {
    this.form.valid = false;
  },
  computed: {
    //https://codepen.io/asdasgqq/pen/ZEYezrdß
    passwordConfirmationRules() {
      return () =>
        this.form.newpassword === this.form.confirmPassword ||
        "Password must match";
    },
  },
  methods: {
    validate() {
      if (this.$refs.form.validate()) {
        this.form.finish = true;
        this.$emit("update:form", this.form);
      }
    },
  },
};
</script>