
<!--
form to enter email address for password reset
 -->
<template>
  <v-form ref="form" v-model="form.valid" lazy-validation class="div-center">
    <v-text-field
      v-model="form.email"
      :rules="emailRules"
      validate-on-blur
      label="E-mail"
      required
    ></v-text-field>

    <v-btn
      :disabled="!form.valid"
      color="indigo lighten-1"
      class="mr-4"
      @click="validate"
    >
      {{ buttonTitle }}
    </v-btn>
  </v-form>
</template>

<script>
export default {
  name: "emailForm",
  data: () => ({
    emailRules: [
      (v) => !!v || "E-mail is required",
      (v) => /.+@.+\..+/.test(v) || "E-mail must be valid",
    ],
  }),
  props: {
    buttonTitle: {
      required: true,
    },
    form: {
      required: true,
    },
  },
  mounted() {
    this.form.valid = false;
  },
  methods: {
    validate() {
      if (this.$refs.form.validate()) {
        this.form.finish = true;
        this.$emit("update:form", this.form);
      }
    },
  },
};
</script>