<template>
  <v-form ref="form" v-model="form.valid" lazy-validation>
    <v-text-field
      v-model="form.email"
      :rules="emailRules"
      label="E-mail"
      required
    ></v-text-field>
    <v-text-field
      v-model="form.password"
      :counter="20"
      :rules="passwordRules"
      :type="'password'"
      label="Password"
      required
    ></v-text-field>
    <v-text-field
      label="Confirm Password"
      v-model="form.confirmPassword"
      :rules="passwordRules.concat(passwordConfirmationRules)"
      type="password"
      required
    ></v-text-field>
    <v-btn
      :disabled="!form.valid"
      color="indigo lighten-1"
      class="mr-4"
      @click="validate"
    >
      {{ buttonTitle }}
    </v-btn>
  </v-form>
</template>


<script>
export default {
  name: "login",
  data: () => ({
    emailRules: [
      (v) => !!v || "E-mail is required",
      (v) => /.+@.+\..+/.test(v) || "E-mail must be valid",
    ],
    /**
     * password rules
     * might want to disable a few of these rules during testing creating users.
     */
    passwordRules: [
      (value) => !!value || "Password is required",
      //  (value) => (value && /\d/.test(value)) || "At least one digit",
      //  (value) =>
      //    (value && /[A-Z]{1}/.test(value)) || "At least one capital latter",
      //  (value) =>
      //    (value && /[^A-Za-z0-9]/.test(value)) ||
      //    "At least one special character",
      //  (value) => (value && value.length >= 8) || "minimum 8 characters",
    ],
    //https://stackoverflow.com/questions/67342163/vuetify-password-validation-to-include-special-characters-capital-letter-numbe
    confirmPasswordRules: [(v) => !!v || "Password is required"],
  }),
  props: {
    form: {
      required: true,
    },
    buttonTitle: {
      required: true,
    },
  },
  mounted() {
    this.form.valid = false;
  },
  computed: {
    //https://codepen.io/asdasgqq/pen/ZEYezrdß
    passwordConfirmationRule() {
      return () =>
        this.form.password === this.form.confirmPassword ||
        "Password must match";
    },
  },
  methods: {
    validate() {
      if (this.$refs.form.validate()) {
        this.form.finish = true;
        this.$emit("update:form", this.form);
      }
    },
  },
};
</script>